<div class="max-w-md mx-auto mt-10 bg-[#3b3a30] p-8 border border-[#b39c6d] rounded-md shadow-lg">
  <div class="">
    <h2 class="text-3xl text-[#faf8ef] font-bold mb-6 text-center">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-4' }) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'text-[#faf8ef] block text-lg font-semibold' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'bg-[#7d5a50] text-[#faf8ef] border border-[#b39c6d] p-2 rounded-md w-full' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'text-[#faf8ef] block text-lg font-semibold' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'bg-[#7d5a50] text-[#faf8ef] border border-[#b39c6d] p-2 rounded-md w-full' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex items-center space-x-2">
          <%= f.check_box :remember_me, class: 'bg-[#b39c6d] text-[#3b3a30] rounded' %>
          <%= f.label :remember_me, class: 'text-[#faf8ef] font-semibold' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'bg-[#b3c100] text-[#3b3a30] p-3 w-full rounded-md font-bold hover:bg-[#a3b100] transition' %>
      </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>