<!DOCTYPE html>
<html>
  <head>
    <title>DndWiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#3b3a30] text-[#faf8ef]">
    <main class="container mx-auto md:mt-28 p-4">
      <%= yield %>
    </main>
  </body>
</html>
